.carousel-item img{
    width: 60rem;
    height: 35rem;
}
.carousel-item{
    color: black;
}
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f0f0f0;
    padding: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    margin-right: 20px;
}

.hero {
    text-align: center;
    background-image: url("hero-background.jpg");
    background-size: cover;
    height: 500px;
    color: white;
}

.hero h1 {
    font-size: 40px;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.product-item {
   /* Add styling for product items */
}

.about {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
}